<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>text view.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0B195061E2C186D00665AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B1951A1E2C186D00665AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0B195251E2C186D00665AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
